.home {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.side-bar {
  z-index: 1;
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EAF1FF;
}

.home-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  background-color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.home-header p {
  margin: 10px;
}

.release-info {
  color: #6e6e6e;
  margin: 10px;
  text-align: center;
}

app-calendar {
  flex-grow: 1;
  padding: 0 20px 15px 20px;
}

@media (max-width: 900px) {
  .home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .side-bar {
    flex-grow: 1;
    order: 2;
  }
  .home-body {
    order: 1;
  }
  .home-header {
    font-size: 1rem;
  }
}
