<div class="calendar">
  <div class="calendar-header">
    <button class="change-month left-arrow" (click)="changeMonth(-1)"><</button>
    <div class="selected-month">{{ formatMonthName(selectedMonth) }}</div>
    <button class="change-month right-arrow" (click)="changeMonth(1)">></button>
  </div>
  <table class="calendar-table">
    <tr>
      <th *ngFor="let day of WEEK_DAYS">{{ day }}</th>
    </tr>
    <tr class="calendar-week" *ngFor="let row of calendarWeeks; let index = index"
        [ngClass]="{selected: selectedRowIndex === index, hovered: hoveredRowIndex === index && selectedRowIndex !== index}"
        (click)="handleRowClick(index); sendData();"
        (mouseenter)="handleRowHover(index)"
        (mouseleave)="handleRowHover(null)">
      <td *ngFor="let cell of row" [ngClass]="{'other-month': isOtherMonth(cell)}">{{ cell | date: 'dd' }}</td>
    </tr>
  </table>
</div>
