<div class="calendar">
  <div class="calendar-header">
    <button class="change-month left-arrow" (click)="changeMonth(-1)"><</button>
    <div class="current-month">{{ formatMonthName(selectedMonth) }}</div>
    <button class="change-month right-arrow" (click)="changeMonth(1)">></button>
  </div>
  <table class="calendar-table">
    <tr>
      <th *ngFor="let day of ['Пн', 'Вт', 'Ср', 'Чт', 'Пт']">{{ day }}</th>
    </tr>
    <tr *ngFor="let row of calendarWeeks">
      <td *ngFor="let cell of row">{{ cell | date: 'dd' }}</td>
    </tr>
  </table>
</div>
