.calendar {
  text-align: center;
}

.current-month{
  font-size: 1.5rem;
}

.other-month {
  color: #afafaf;
}

.change-month {
  border: 0;
  background: none;
  font-size: 1.3rem;
  font-weight: lighter;
}

.right-arrow{
  position: absolute;
  margin-left: 13rem;
  padding: 5px;
}

.right-arrow:hover{
  border: 1px #b0b0b0 solid;
  border-radius: 5px;
}

.left-arrow{
  position: absolute;
  margin-right: 13rem;
  padding: 5px;
}

.left-arrow:hover{
  border: 1px #b0b0b0 solid;
  border-radius: 5px;
}

.calendar-table {
  margin: 0 auto;
  border: 1px solid #dadada;
  border-radius: 16px;
  border-spacing: 0;
  width: 100%;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  width: 100%;
}

th, td {
  flex-grow: 1;
  border: 1px solid #dadada;
  width: 20dvmin;
  height: 12.5dvmin;
  text-align: center;
  background-color: white;
}

th {
  font-size: 3.5dvmin;
  font-weight: 600;
}

td {
  font-size: 3dvmin;
}

/* Скругление углов для первой ячейки заголовка */
th:first-child {
  border-top-left-radius: 15px;
}

/* Скругление углов для последней ячейки заголовка */
th:last-child {
  border-top-right-radius: 15px;
}

/* Скругление углов для первой ячейки данных в первой строке */
tr:first-child td:first-child {
  border-top-left-radius: 15px;
}

/* Скругление углов для последней ячейки данных в первой строке */
tr:first-child td:last-child {
  border-top-right-radius: 15px;
}

/* Скругление углов для первой ячейки данных в последней строке */
tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

/* Скругление углов для последней ячейки данных в последней строке */
tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.selected > td {
  background-color: #FF6C6C;
  color: white;
}

.hovered > td {
  background-color: #eeeeee;
}

@media (max-width: 872px) {
  .current-month{
    font-size: 1.2rem;
  }

  .right-arrow{
    position: absolute;
    margin-left: 11rem;
  }

  .left-arrow{
    position: absolute;
    margin-right: 11rem;
  }

  th {
    font-size: 1.5rem;
  }

  td {
    font-size: 1.2rem;
  }
}
