<div class="side-bar">
  <div class="wrapper">
    <p class="title">Релизный инженер</p>
    <div class="avatar-container">
      <img [src]="imageUrl" class="avatar" alt="">
    </div>
    <button class="engineer-name-button" (click)="chooseEngineer">{{ engineerName | titlecase }}</button>
    <app-window-with-input [contentComponent]="contentComponent"></app-window-with-input>
    <div class="links">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <button class="more-btn" (click)="releaseDetails">Подробнее</button>
  </div>
</div>
