<div class="release-list">
  <ul>
    <li *ngFor="let release of releaseList; let index = index"
        [ngClass]="{selected: selectedRowIndex === index, hovered: hoveredRowIndex === index && selectedRowIndex !== index}"
        (click)="handleRowClick(index);"
        (mouseenter)="handleRowHover(index)"
        (mouseleave)="handleRowHover(null)">
      {{ release.releaseTag }}-{{ release.releaseNumber }}
      <button (click)="deleteElement()">
        <span>x</span>
      </button>
    </li>
  </ul>
</div>
