.release-list {
  font-size: 1.3rem;
}

li{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul:last-child{
  padding-bottom: 0;
}

button{
  display: none;
  background-color: white;
  color: #FF6C6C;
  padding: 2px 8.5px 4px;
  border-radius: 50%;
}

.selected{
  background-color: #FF6C6C;
  color: white;
}

.selected button {
  display: initial;
}

.hovered{
  background-color: #eeeeee;
}
