.release-list {
  font-size: 1.3rem;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: 0.2s ease;
}

ul:last-child{
  padding-bottom: 0;
}

button{
  display: none;
  background-color: white;
  color: #FF6C6C;
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

button span{
  position: absolute;
  right: 28.5%;
  bottom: 7%;
}

.selected{
  background-color: #FF6C6C;
  color: white;
}

.selected button {
  display: initial;
}

.hovered{
  background-color: #eeeeee;
}
